{% extends "base.html" %}
{% block title %} Профайл пользователя {{ post.author.get_full_name }} {{ post.author.username }}{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1>Все посты пользователя {{ post.author.get_full_name }} {{ post.author.username }} </h1>
        <h3>Всего постов: {{ author.posts.all.count }} </h3>
        {% for post in page_obj %}
            <article>
                <ul>
                    <li>
                        Автор: {{ post.author.get_full_name }} {{ post.author.username }}
                        <a
                                href="{% url 'posts:profile' post.author.username %}">все
                            посты пользователя</a>
                    </li>
                    <li>
                        Дата публикации: {{ post.pub_date|date:"d E Y" }}
                    </li>
                </ul>
                <p>{{ post.text }}</p>
                <a href="{% url 'posts:post_detail' post.id %}">подробная
                    информация </a>
            </article>
            {% if post.group.slug %}
                <a href="{% url 'posts:group_posts' post.group.slug %}">все
                    записи группы</a>
            {% else %}
            {% endif %}
            {% if not forloop.last %}
                <hr>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
    </div>
{% endblock %}
